<!doctype html>

<html lang="en">

<head>

    <link rel="stylesheet" href="style.css">

    <title>Raccoon POS</title>

</head>

<body>

    <div class="container">


        <form action="/sales/history">
            <button type="submit">History</button>
         </form>
        <form action="/sales/new/">
            <button type="submit">New Sales</button>
         </form>

         <form method="post" action="/sales/products">
            <button type="submit" >Products (Not ready)</a>
        </form>

        <form method="post" action="/sales/customer">
            <button type="submit" >Customer (Not ready)</a>
        </form>

    </div>
</body>
</html>