<%- include('../partials/head') %>

<body>

    <div class="d-grid gap-2 col-6 mx-auto">

        <a class="btn btn-primary" href="/sales/new" role="button">New Sales</a>
        <a class="btn btn-primary" href="/sales/history" role="button">Sales History</a>
        <a class="btn btn-primary" href="/products/new" role="button">Add New Products</a>
        <a class="btn btn-primary" href="/products" role="button">Existing Products</a>
        <a class="btn btn-primary" href="/customers/new" role="button">New Customer</a>
        <a class="btn btn-primary" href="/customers" role="button">Existing Customer</a>
        <form method="post" action="/user/logout">
            <button type="submit" class="btn btn-danger form-control">Logout</button>
        </form>
            
    </div>
    
</body>

<%- include('../partials/foot') %>